<div class="row collapse">
    <div class="col-md-5 columns">
        <span class="prefix">{{label}}-axis rotation</span>
    </div>
    <div class="col-md-1 columns">
        <a class="button postfix" ng-mouseenter="rotate(0.05, 20)"  ng-mouseleave="stopRotation()">+</a>
    </div>
    <div class="col-md-5 columns">
        <input type="number" ng-model="axis" ng-change="updateRotation()"/>
    </div>
    <div class="col-md-1 columns">
        <a class="button postfix" ng-mouseenter="rotate(-0.05, 20)"  ng-mouseleave="stopRotation()">-</a>
    </div>
</div>
